.container {
  width: 100%;
  display: flex;
}

.input {
  margin-right: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.button {
  cursor: pointer;
  border: 2px solid #407294;
  font-weight: 500;
  transition: 0.2s ease;
  border-radius: 7px;
  display: inline-block;
  padding: 0.3rem 1rem 0.3rem 1rem;
  align-self: flex-end;
}

.button:hover {
  background-color: #407294;
  color: white;
}

.disabled {
  filter: grayscale();
  pointer-events: none;
  cursor: not-allowed;
}

.disabled:hover {
  cursor: not-allowed;
}
